<%= turbo_stream.replace "todo_#{@todo.id}" do %>
  <li id="todo_<%= @todo.id %>">
    <span>
      <%= form_with model: @todo, url: todo_path(@todo.id) do |f| %>
        <%= f.text_field :title, value: @todo.title %>
        <%= f.submit "Save" %>
      <% end %>
    </span>
    <span>
      <%= cancel_button(@todo.id) %>
    </span>
  </li>
<% end %>